
.tab-highlight {
	transform: translateY(calc(0 * var(--tab-height)));
	transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.react-tabs__tab-panel {
	@apply lg:hidden lg:invisible;
}

.Experience__panel--selected {
	@apply visible block;
}

.Experience__panel--selected {
	animation-name: fadeIn;
	animation-duration: 250ms;
	animation-timing-function: linear;
}

.react-tabs__tab--selected {
	@apply text-primary-400;
}

.react-tabs {
	@apply w-full;
}

.blurry #content {
	@apply blur brightness-75 select-none pointer-events-none;
}